*{
    margin: 0;
    padding: 0;
}
.container {
    background-color: rgb(32, 129, 129);
    height: 700px;
    display: grid;
    /* grid-template-columns: 133px 133px 133px;
    grid-template-rows: 133px 133px 133px; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    grid-template-columns: 1 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.item {
    background-color: grey;
    color: white;

    /* height: 120px;
    width: 120px; */
}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(209, 100, 100);
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blue;
}